body{

    background-color: tan;
}
.burgdevd{
width: 300px;

}
.burgnot{
    width: 300px;
}

.burgpic{
    width: 300px;
    height: 300px;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  